@mixin btnBox {
  padding: 1.2em;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  h2 {
    @include myBackground();
    font-weight: 600;
    color: $myWhite;
    text-shadow: 0px 0px 16px $myBlack;
    // box-shadow: 0px 0px 16px 2px $myBlack50;
    width: fit-content;
    // backdrop-filter: blur(4px);
    padding: 0.8em !important;
  }

  :hover {
    h2 {
      transition: all 0.5s;
      color: $myWhite;
      text-shadow: 0px 0px 8px $myBlack25;
      box-shadow: 0px 0px 24px 1px $myLux;

      // background-image: //radial-gradient($myAux25, $myPrime50),
      //   linear-gradient(
      //   45deg,
      //   rgba(255, 255, 255, 0) 0% 16%,
      //   $myAux 16% 44%,
      //   rgba(255, 255, 255, 0) 44% 50%,
      //   $myPrime 50% 75%,
      //   rgba(255, 255, 255, 0) 75% 79%,
      //   $myGolden 79% 98%,
      //   rgba(255, 255, 255, 0) 98% 100%
      // );
    }
  }
}

@mixin myBackground {
  background-image: radial-gradient($myWhite25, $myBlack25),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0% 6%,
      $myAux 6% 34%,
      rgba(255, 255, 255, 0) 34% 40%,
      $myPrime 40% 65%,
      rgba(255, 255, 255, 0) 65% 69%,
      $myGolden 65% 92%,
      rgba(255, 255, 255, 0) 92% 100%
    );

  border-top: solid 3px rgba(255, 255, 255, 0.25);
  border-left: solid 3px rgba(0, 0, 0, 0.25);
  border-right: solid 3px rgb(255, 255, 255, 0.25);
  border-bottom: solid 3px rgba(0, 0, 0, 0.25);
}

@mixin myBgLight {
  background-image: linear-gradient(
      white,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    ),
    radial-gradient($myWhite25, $myWhite25, $myBlack25),
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 0% 6%,
      $myAux 6% 34%,
      rgba(255, 255, 255, 0) 34% 40%,
      $myPrime 40% 65%,
      rgba(255, 255, 255, 0) 65% 69%,
      $myGolden 65% 92%,
      rgba(255, 255, 255, 0) 92% 100%
    ),
    radial-gradient(rgba(0, 0, 0, 0), $myBlack25);

  border-top: solid 3px rgba(255, 255, 255, 0.25);
  border-left: solid 3px rgba(0, 0, 0, 0.25);
  border-right: solid 3px rgb(255, 255, 255, 0.25);
  border-bottom: solid 3px rgba(0, 0, 0, 0.25);
}
