@import "var.scss";
@import "mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Robotot&display=swap");

// ********** GLOBALI ************
html,
body {
  height: 100vh;
  // background-image: url(../../public/assets/imgs/LagoDiNemi.jpg);
  background-color: $myWhite;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  > div {
    backdrop-filter: blur(6px);
    background-color: $myWhite;
  }
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Roboto", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.onTopLayer {
  z-index: initial;
}

.hidden {
  display: none !important;
}

.hoPoint {
  &:hover {
    cursor: pointer;
  }
}
//********** FINE GLOBALI***************
.masterModal {
  // width: fit-content;
  // height: fit-content;
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-dialog {
  margin: auto !important;
}

.imgPreview {
  width: 100%;
}
// SOME BUTTONS
// underpost

.btnInterDark {
  font-size: 1.4em;
  padding: 0.8em;
  border: none;
  color: $myWhite;

  border-left: 2px solid $myBlack25;
  border-bottom: 2px solid $myBlack25;

  .far,
  .fa {
    box-shadow: 2px -2px 2px 2px $myBlack25;
    padding: 0.8em !important;
    border-radius: 38%;
    border-left: 3px solid $myBlack25;
    border-bottom: 3px solid $myBlack25;
    transition: all 0.4s;
    background-color: $myWhite !important;
    // &:hover {
    //   box-shadow: inset 2px -3px 3px 2px $myBlack25;
    //   color: $myBlack50;
    //   cursor: pointer;
    //   transition: all 0.4s;
    // }
  }
}
.btnInter {
  font-size: 1.3em;
  padding: 0.8em !important;
  border: none !important;
  color: $myBlack50 !important;
  // background-color: $myWhite50;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  @extend .hoPoint;
  .far,
  .fa {
    box-shadow: 2px -2px 2px 2px $myBlack25;
    padding: 0.8em !important;
    border-radius: 38%;

    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transition: all 0.4s;
    // &:hover {
    //   box-shadow: inset 2px -3px 3px 2px $myBlack25;

    //   cursor: pointer;
    //   transition: all 0.4s;
    // }
  }
}
.interLike {
  color: $myPrime !important;
}
.hoLike {
  .fa,
  .far {
    background-color: $myPrime !important;
    color: $myWhite !important;
    box-shadow: inset 2px -3px 3px 2px $myBlack25;
    cursor: pointer;
    transition: all 0.4s;
  }
}
.interComment {
  color: $myAux !important;
}
.interSave {
  color: $myBlack25 !important;

  .farfa {
    color: $myBlack50;
  }
}

.btnConfirm {
  width: 100%;
  height: 100%;
  box-shadow: inset 2px -4px 4px 2px $myWhite25;
  @extend .rnd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $myBlack50;
  background-color: $myGolden !important;
}

// postmaker
.btnPmaker {
  padding: 0.6em !important;
  font-size: 1.8em !important;
  @extend .hoPoint;
  color: white;
}

.btnAddPostPic {
  background-color: $myPrime;
}
.btnPostLoc {
  background-color: $myAux;
}
.btnPostSett {
  background-color: $myGolden;
  color: black;
}
.btnPostSub {
  background-color: rgba(255, 255, 255, 0) !important;
  color: $myPrime !important;
  border: solid 5px $myPrime !important;
  padding: 0.3em 0.5em !important;
}

//******* HEADER/ FOOTER *********
header {
  box-shadow: 0px 8px 24px 0px $myBlack25;
  #navbarApp {
    background-color: $myWhite !important;
    box-shadow: inset 0px 8px 24px 0px $myPrime25;
  }
}

#footerApp {
  background-color: black;
  color: white;
}
// ******* FINE H/F *********

// ******* MAIN **********

//HOME------------
#homePage {
  width: 100vw;
  height: 100vh;
  * {
    margin: unset !important;
    padding: auto !important;
    scroll-behavior: smooth !important;
  }
  overflow-y: scroll;

  // .row:first-child {
  //   margin-bottom: 3em !important;
  // }

  .homeJumbo {
    background-image: url(../../public/assets/imgs/LagoDiNemi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: fit-content;
    min-height: 90vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 16px 24px 16px $myBlack50;

    .homeBrand {
      background-image: linear-gradient(
        $myBlack50,
        $myBlack25,
        rgba(0, 0, 0, 0),
        $myBlack25,
        $myBlack50
      );

      width: 100%;
      min-height: 90vh;

      .homeTitle {
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 5em;
        display: inline-block;
        line-height: 0.9em;
        letter-spacing: -0.1em;
      }

      .btnBox {
        @include btnBox;
        a {
          text-decoration: none;
        }
        padding-left: 5em !important;
      }
    }
  }

  .homeSec {
    background-color: $myWhite;
    .secImg {
      width: 100%;
      margin: auto !important;
      border-radius: 12px;
      box-shadow: 0px 2px 4px 2px $myBlack25;
    }
    h2 {
      padding: 0.2em 0.8em !important;
      text-align: center;
      font-weight: 600;
      color: white;
      text-shadow: 0px 0px 8px $myBlack;
      background-color: $myBlack50;
    }
    p {
      background-image: radial-gradient(
        $myWhite,
        $myWhite,
        $myWhite,
        $myWhite50
      );

      padding: 1em !important;
      overflow-y: scroll;
      font-size: large;
    }
  }

  .homeSection {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mapRow {
    background-color: $myWhite25;
    @include myBackground();

    .mapFrame {
      width: 100%;
      display: block;
      border-radius: 20px;
      box-shadow: 0px 0px 24px 8px $myLux;
    }
  }

  .homeCrAreas {
    display: flex;
    align-items: center;
    color: white;
    background-image: radial-gradient(
      $myWhite50,
      $myWhite50,
      $myWhite50,
      $myWhite25
    );
    .areaBoxDiv {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .areaDiv {
        padding: 1em !important;
        h4 {
          text-align: center;
          text-shadow: 0px 0px 16px black;
        }
      }
    }
    .crAreaBox {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 150px !important;
      height: 150px !important;
      &:hover {
        cursor: pointer;
      }
    }
  }

  //BOX STEMMI COMUNALI
  #albano {
    background-image: url(../../public/assets/imgs/StemmiComunali/albano_laziale.png) !important;
    &:hover {
      box-shadow: 0px 0px 16px 8px;
      transition: all 0.4s;
      border-radius: 30%;
    }
  }
  #ariccia {
    background-image: url(../../public/assets/imgs/StemmiComunali/ariccia.png) !important;
    &:hover {
      box-shadow: 0px 0px 16px 8px;
      transition: all 0.4s;
      border-radius: 30%;
    }
  }
  #castelGandolfo {
    background-image: url(../../public/assets/imgs/StemmiComunali/castel_gandolfo.png) !important;
    &:hover {
      box-shadow: 0px 0px 16px 8px;
      transition: all 0.4s;
      border-radius: 30%;
    }
  }
  #nemi {
    background-image: url(../../public/assets/imgs/StemmiComunali/nemi.png) !important;
    &:hover {
      box-shadow: 0px 0px 16px 8px;
      transition: all 0.4s;
      border-radius: 30%;
    }
  }
  #frascati {
    background-image: url(../../public/assets/imgs/StemmiComunali/frascati.png) !important;
    &:hover {
      box-shadow: 0px 0px 16px 8px;
      transition: all 0.4s;
      border-radius: 30%;
    }
  }
  #lariano {
    background-image: url(../../public/assets/imgs/StemmiComunali/lariano.png) !important;
    &:hover {
      box-shadow: 0px 0px 16px 8px;
      transition: all 0.4s;
      border-radius: 30%;
    }
  }
  #genzano {
    background-image: url(../../public/assets/imgs/StemmiComunali/genzano_di_roma.png) !important;
    &:hover {
      box-shadow: 0px 0px 16px 8px;
      transition: all 0.4s;
      border-radius: 30%;
    }
  }

  .homePacks {
    width: 100vw;
    .bgvid {
      object-fit: cover;
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }
}

//REGISTER/LOGIN-------------
.registerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.8);
  @include myBackground();
  color: rgb(0, 0, 0);
  .btnSub {
    @include myBackground();
    font-size: larger;
    font-weight: 600;
    text-shadow: 0px 0px 16px $myLux;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 16px 4px $myLux;
    }
  }
}

.loginForm {
  h3 {
    text-shadow: 0px 0px 16px $myBlack;
  }

  @include myBackground();
  filter: grayscale(100%);
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
  }

  &.lfMod {
    filter: none;
  }

  .btnLogin {
    @include myBackground();
    font-size: larger;
    font-weight: 600;
    text-shadow: 0px 0px 16px $myLux;
    box-shadow: 0px 0px 16px 4px $myLux;
    color: $myBlack;
  }
}

.registerForm,
.loginForm {
  @media (min-width: 768px) {
    height: 400px;
  }
  border-radius: 18px;
  box-shadow: 0px 0px 8px 2px $myBlack25;
}

#registerPage {
  background-image: url(../../public/assets/imgs/LagoDiNemi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .row {
    height: 100vh;
  }
}
#loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../public/assets/imgs/LagoDiNemi.jpg);
  backdrop-filter: blur(8px);
  .bgForm {
    background-color: $myBlack75;
    padding: 1em !important;
    .btnLogin {
      color: white;
      background-image: none;
      background-color: $myPrime50;

      &:hover {
        background-color: $myPrime;
        transition: all 0.4s;
        text-shadow: 0px 0px 16px 8px black !important;
      }
    }
  }
}
//PROFILE PAGE---------------

#profilePage {
  top: -50px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 80px !important;
  @include myBackground();
  .bgGrid {
    background-color: $myBlack25;
    border-radius: 18px;
  }
  .profileHead {
    .banner {
      @include myBgLight();
      border-radius: 24px;
      background-color: $myWhite50;
      flex-wrap: wrap;
      justify-content: center;
      @media (min-width: 768px) {
        justify-content: start;
        flex-wrap: nowrap;
      }
      .profileImg {
        max-width: 275px;
        border-radius: 50%;
        position: relative;
        top: -30%;
        @include myBackground();
        box-shadow: -8px 8px 24px 0px $myBlack25;
        background-position: center;
        background-size: cover;
      }
      .infoBox {
        font-weight: 600;
        font-size: larger;
        flex-wrap: wrap;
      }

      .upText {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          justify-content: space-between;
        }
      }

      .textBox {
        padding: 1em 1.2em !important;
      }

      .profileBtnLine {
        margin: auto !important;
        width: 100%;
        @media (min-width: 768px) {
          width: fit-content;
        }
        .fa,
        .far {
          background-color: $myWhite;
        }
      }

      .btnProfileConf {
        width: 48px;
        height: 48px;
        background-image: radial-gradient($myWhite, $myLux, $myWhite50);
        color: rgb(24, 24, 24);
        font-size: 2em;
        border-radius: 8px;
        box-shadow: 0px 0px 24px 4px $myLux;
        background-color: transparent;
        border: none;
      }
    }
  }
}

//FEED ---------------
.postCard {
  border-top: 2px solid white;
  margin: 0.8em auto !important;
  background-color: $myWhite;
  background-image: linear-gradient(
    -135deg,
    rgba(0, 0, 0, 0.1),
    $myWhite,
    $myWhite
  );
  border-radius: 8px;
  box-shadow: 2px 4px 6px 3px $myBlack25;

  .inShad {
    box-shadow: inset 0px 0px 8px 4px $myBlack25;
    width: fit-content;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }

  a {
    text-decoration: none !important;
    color: $myBlack;
    font-size: 1.2em;
    padding: 0.2em !important;
  }
  .userInfo {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(
        155deg,
        $myWhite,
        $myWhite,
        $myWhite50,
        $myWhite50,
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(white, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    color: rgb(0, 0, 0);
    position: absolute;
  }
  .miniUserImg {
    width: 54px;
    height: 54px;
  }
  .miniInfo {
    line-height: 1em;
    font-size: 0.9em;
    a {
      text-decoration: none;
    }

    .smallTxt {
      font-size: 0.8em;
    }
  }
  .postImgWrapper {
    // width: 100vw;
    width: 100%;
    @media (min-width: 576px) {
      width: 100%;
    }
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .postText {
    width: 100%;
    border-top-right-radius: 48px;
    border-top-left-radius: 12px;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Numero di righe da visualizzare */
      -webkit-box-orient: vertical;
      overflow: scroll;
      text-overflow: unset;

      padding: 0.4em !important;
      padding-top: 0.6em !important;
      text-shadow: 0px 0px 6px white;
      height: 80px;
      transition: all 0.4s;
      &:hover {
        // -webkit-line-clamp: 5; /* Numero di righe da visualizzare */
        height: 160px;
        transition: all 0.6s;
      }
    }
    .postContent {
      position: relative;
      background-color: $myWhite;
      border-radius: 24px;

      &:hover {
        .postText {
          background-color: $myWhite;
          transition: all 0.4s;
        }
      }
    }
  }
}

#feedPage {
  .row {
    justify-content: center;
    border: none;
  }

  .postMaker {
    .postTextArea {
      resize: vertical;
      width: 100%;
      display: block;
    }
  }
}
// CR AREA --------------------

.CrAreaHead {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: -2;
  .profileBanner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: -50px;
    z-index: -1;
  }
  .underBanner {
    padding-left: 2em !important;
    @include myBgLight();
    border-radius: 24px;

    .profileImg {
      max-width: 275px;
      border-radius: 50%;
      position: relative;
      top: -30%;
      @include myBackground();
      // border: 4px solid rgba(255, 255, 255, 0);
      box-shadow: -8px 8px 24px 0px $myBlack25;
    }

    .infoBox {
      font-weight: 600;
      font-size: larger;
    }

    .textBox {
      padding: 1em 1.2em !important;
    }

    .profileBtnLine {
      & > * {
        box-shadow: 2px 2px 4px 1px $myBlack50;
        border-top-left-radius: 48%;
        border-bottom-right-radius: 26%;
        padding: 0.8em !important;
        background-color: $myWhite;
        position: relative;
        z-index: 1;
        &:hover {
          box-shadow: inset 2px 4px 12px 0px $myBlack50;
          transition: all 0.4s;
        }
      }
    }
  }
}

//PROFILE SETTINGS ----------------------------
#profilePicModal {
  background-color: black;
}
#profileSettings {
  form {
    background-color: black;
    padding: 1em !important;
    color: white;
    .form-label,
    .form-control {
      padding: 0.6em !important;
    }
  }
}

// NAV UI
.navUi {
  height: 80px;
  background-color: $myWhite;
  background-image: linear-gradient(-135deg, $myBlack25, $myWhite, $myWhite);
  border-top: 2px solid white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  box-shadow: 0px -4px 3px 2px $myBlack25;

  & > * {
    @extend .mySoftBtn;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2em !important;
  }
  .rnd {
    border-radius: 38%;
  }
  .fa-plus,
  .fa-search {
    width: 100%;
    height: 100%;
    box-shadow: inset 2px -4px 4px 2px $myBlack25;
    @extend .rnd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fa-search {
    color: $myWhite;
    background-color: $myPrime;
  }
  .fa-plus {
    color: rgb(231, 233, 234);
    background-color: #71c74d;
  }
}

#feedGrid {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 80px !important; //per via della navUi
}
.myBg {
  @include myBackground();
}
.my-wbg {
  background-color: $myWhite;
}
.my-bbg {
  background-color: $myBlack;
}
.my-gbg {
  background-color: $myBlack25;
}

.mySoftBtn {
  box-shadow: 2px -2px 2px 2px $myBlack25;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 38%;
  font-size: 1.6em;
  @extend .hoPoint;
}

.userLink {
  font-weight: bold;
}
.vw100 {
  width: 100vw;
  align-self: center;
  justify-self: center;
}
.vh100scroll {
  height: 100vh;
  overflow-y: scroll;
}
.dropProfile {
  background-color: $myWhite !important;

  .dropdown-item {
    box-shadow: inset 0px 0px 24px $myBlack25;
    border: 1px solid $myWhite25;
  }
}
#searchPage {
  @include myBgLightRev();
}
