$myLux: #fffdd0;

$myWhite: #ffffff;
$myWhite50: #ffffff80;
$myWhite25: #ffffff30;
$myWhite75: #ffffffcd;
$myBlack: #000000;
$myBlack50: #00000080;
$myBlack25: #00000030;
$myBlack75: #000000cd;
$myAux: #74d64a;
$myAux50: #74d64a80;
$myAux25: #74d64a80;
$myPrime: #5cc1e6;
$myPrime50: #5cc1e680;
$myPrime25: #5cc1e630;
$myGolden: #ffda59;
$myGolden50: #ffda5980;
$myGolden25: #ffda5930;
